.Chat-main 
  .Chat-main__group-info
    .left-header
      .small-title 
        test
      .small-member 
        member:masa   
    .right-header
      .small-btn
        = link_to "#", class:"edit" do
          edit
          
  .Chat-main__massage-list
    .chat-box
      .chat-box__top
        .chat-name masa
        .chat-date 2020/07/09(Thu) 15:46:09
      .chat-box__message おはよう！
      
    .chat-box
      .chat-box__top
        .chat-name masa
        .chat-date 2020/07/09(Thu) 17:46:09
      .chat-box__message 今日は夜から雨

  .Chat-main__message-form
    .Form__inputBox
      %input{type: "text", class: "Form__inputBox__text", placeholder: "type a message"}
      %label{class: "Form__inputBox__image"}
        =icon('far','image')
        %input{type:"file", class: "Form__inputBox__image--file"}
    %input.Form__submitBtn{"name": "commit", "type": "submit", "value": "Send"}
        